.falling-text-container {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.falling-text-target {
  display: inline-block;
  pointer-events: none;
}

.falling-text-target .word {
  display: inline-block;
  margin: 0;
  user-select: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
}

.highlighted {
  color: #fff;
}

.falling-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
